<!DOCTYPE html>
<!-- Path: src/views/notFound.ejs -->
<html>
  <head>
    <title>500 ERROR</title>
    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #E3E3E3;
      }

      h1 {
        font-size: 50px;
        margin: -20px 0px 0px;
        color: red;
        font-weight: bold;
      }

      p {
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <h1>500 ERROR</h1>
    <p> <%= error %> </p>
  </body>
</html>

    <p></p>